a{
    text-decoration: none;
}

.card{
    background-color: white;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 16px;
    padding: 12px 10px;
}

.cardTop{
    overflow: hidden;
}
.cardUsername{
    float: left;
    font-size: 14px;
}
.share{
    float: right;
    font-size: 20px;
    margin: 0px 2px 0px 9px;
}
.bkmrk{
    float: right;
    font-size: 20px;
    margin: 0px 9px;
}

.cardMain{
    margin: 8px 0px 14px 0px;
}
.title{
    margin: 4px 0px;
    font-size: 18px;
}
.description{
    margin: 4px 0px;
    font-size: 16px;
}

.cardBottom{
    overflow: hidden;
}
.votes{
    float: left;
    margin: 0px 3px;
}
.vote-arrow{
    float: left;
    margin: 2px 3px 0px 0px;
}
.vote-num{
    float: left;
}
.comments{
    float: left;
    margin: 0px 8px;
}
.comment-cloud{
    float: left;
    margin: 2px 3px 0px 0px;
}
.comment-num{
    float: left;
}
.time{
    float: right;
    font-size: 14px;
}
.gray{
    color: #979797;
}
.darkGray{
    color: #353535;
}
.green{
    color: #00707E;
}